<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside th:fragment="aside" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION PRINCIPALE</li>
            <li>
                <a th:href="@{/tableau-de-bord}"
                ><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a
                >
            </li>
            <li>
                <a th:href="@{/clients}"
                ><i class="fa fa-users"></i> <span>Client</span></a
                >
            </li>
            <li>
                <a th:href="@{/voitures}"
                ><i class="fa fa-car"></i> <span>Voiture</span></a
                >
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>